@model IEnumerable<BIWebApp.Data.BI_K3_Costs>

<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Resource Costing</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th data-sort="">
                        @Html.DisplayNameFor(model => model.Role_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Daily_Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hourly_Cost)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Daily_Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hourly_Cost)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.BI_CostID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.BI_CostID })
                        </td>
                    </tr>
                }

            </table>

        

        </div><!-- /.box-body -->
        <div class="box-footer">
            Footer
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->

